.App-btn {
  width: 7.5rem;
  height: 3rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  border-width: 0;
}

.primary {
  background: #61daf9;
  color: white;
}

.default {
  background: #43474e;
  color: black;
}